*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

nav {
    background-color: rgb(39, 38, 38);
    grid-column: 1/2;
    grid-row: 2/-1;
    color: white;
    padding-left: 2rem;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 80%;
    text-align: left;
}

#projects {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

#add-project-button {
    width: fit-content;
    height: auto;
    font-size: 1.5rem;
    border-radius: 50%;
    color: red;
    border-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    /* visibility: hidden; */
}

#projects-box {

    /* position: relative; */
    /* transform: translateX(25px); */
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;

}

/* #projects-box::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: -10px;
    height: 200%;
    border-left: 1px solid black;
} */

#project-list {
    display: flex;
    flex-direction: column;
    position: relative;
    /* border: 1px solid black; */
    transform: translateX(25px);
}

.current-project {
    position: relative;
    text-decoration: underline;
}

.current-project:hover, #projects-link:hover {
    cursor:pointer;
}
/* .current-project::before {
    content: '';
    top: 50%;
    left: -10px;
    width: 10px;
    z-index: 4;
    border-bottom: 1px solid black;
    position: absolute;
} */

/*
#projects:hover {
    /* cursor: pointer 
}

#projects:hover #add-project-button {
    visibility: visible;
}*/

#main-section {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

button:hover {
    cursor: pointer;
}

#task-modal,
.input-modal {

    border: none;
    height: 500px;
    width: 500px;
    z-index: 2;
    background-color: lightslategray;
    backdrop-filter: blur(2px);

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}

#task-modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}

#top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(124, 133, 130)
}

#close-button {
    font-size: 1.3rem;
    border: none;
    background-color: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.task {
    height: 60px;
    margin: 0.8rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1.5rem;
    align-items: center;
    width: 90%;
    background-color: white;

}

.task>* {
    width: 25%;
}

.task:hover {
    transform: scale(1.01);
    transition: transform 0.2s linear;
    box-shadow: 0px 2px 12px rgb(70, 69, 69);
}

.completed-button {
    margin-left: auto;
    border: 1px solid green;
    width: 20px;
    height: 20px;
    padding: 0.2rem;
    border-radius: 4px;
}

.completed-button:hover {
    transition: background-color linear 0.2s;
    background-color: lightgreen;
}

.checked {
    background-color: green;
}

.checked:hover {

    background-color: green;

}

.completed {

    color: grey;
    text-decoration: line-through;

    transition: color 0.5s linear, text-decoration 0.9s linear;
}

.edit-button,
.delete-button {
    margin-left: auto;
    background-color: rgb(180, 179, 179);
    border: none;
    width: fit-content;
    padding: 0.2rem;
    border-radius: 4px
}