*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

nav {
    background-color: rgb(39, 38, 38);
    grid-column: 1/2;
    grid-row: 2/-1;
    color: white;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

#main-section {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

#task-modal {

    border: none;
    height: 400px;
    width: 400px;
    z-index: 2;
    background-color: lightslategray;
    backdrop-filter: blur(2px);

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#task-modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}