*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --lime-50: #f7fee7;
    --lime-100: #ecfccb;
    --lime-200: #d9f99d;
    --lime-300: #bef264;
    --lime-400: #a3e635;
    --lime-500: #84cc16;
    --lime-600: #65a30d;
    --lime-700: #4d7c0f;
    --lime-800: #3f6212;
    --lime-900: #365314;
}

svg {
    height: 20px;
    width: 25px;
    /* fill: rgb(167, 5, 5); */
    /* fill: rgb(54, 54, 54); */
    fill: black;

}

button {
    font-family: 'lato', Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 7fr;
    min-height: 100vh;

    font-family: 'lato', Arial, Helvetica, sans-serif;
}

header {
    max-height:54px;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--lime-300);
    z-index: 2;
}

h1 {

    margin-left: 2rem;
    border-left: 2px solid black;
    padding-left: 1rem;
    font-size: 2rem;
}

nav {
    grid-column: 1/2;
    grid-row: 2/-1;
    color: black;
    padding-left: 2rem;
    /* padding-top: 1rem; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80%;
    text-align: left;
    gap: 16px;
    box-shadow: 0px 0px 4px black;
    z-index: 1;

}


.nav-link {


    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.nav-link:hover {
    cursor: pointer;
    transform: translateX(8px);
    transition: transform 0.1s linear;
    border-left: 2px solid var(--lime-600);
}

#all-tasks-link {
    margin-top: 2.25rem;
}

.project-container {

    width: 80%;
    padding-left: 0.5rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.delete-project-button {
    visibility: hidden;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    font-size: 1rem;
    color: white;
    background-color: transparent;

}

.delete-project-icon {
    fill: red;
}

.delete-project-button:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease-in-out;

}

.project-container:hover .delete-project-button {
    visibility: visible;
    opacity: 1;



}

.project-container:hover {

    transform: translateX(8px);
    transition: transform 0.1s linear;
    border-left: 2px solid var(--lime-600);
}

#add-project-button {
    visibility: hidden;
    font-size: 1.75rem;
    color: var(--lime-600);
    background-color: transparent;
    transition: transform 0.2s ease-in-out;

}

#add-project-button:hover {

    transform: translateY(-6px);

}

#project-link-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: fit-content;

}

#project-link-container:hover #add-project-button {
    visibility: visible;
}

#projects-link {
    font-weight: bold;
    font-size: 1.5rem;
}

#projects-box {


    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: fit-content;

}

#project-list {
    display: flex;
    flex-direction: column;
    position: relative;
}

.project-item {

    font-size: 1.25rem;
    padding-left: 0.25rem;
}

.project-item:hover,
#projects-link:hover {
    cursor: pointer;
    /* transform: scale(1.1); */
    transition: transform 0.1s ease-in-out;
    text-underline-offset: 0.375rem;

}



#project-form {

    display: block;
    margin-left: 1.5rem;


}

#project-name-input {

    border: 2px solid rgb(179, 177, 177);
    border-radius: 6px;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    max-width: 150px;
    padding: 0.25rem;

}

#submit-project-button {

    display: block;
    margin: 0 auto;
    border-radius: 12px;
    background-color: var(--lime-700);
    color: white;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 8px;
    font-weight: 900;
    transition: transform 0.1s ease-in-out;
}

#submit-project-button:hover {
    transform: scale(1.05);
}


input:focus {
    outline: none
}

/* MAIN / TASKS */



#main-section {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(240, 240, 240);
    padding-top: 1.5rem;
}

#main-title-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin: 0.75rem auto;

}

button {
    border: none;
    background-color: none;
}

button:hover {
    cursor: pointer;
}

#project-title {

    font-size: 1.75rem;
    font-weight: bold;
    border-bottom: 2px solid var(--lime-600);
    padding-right: 4rem;
    padding-bottom: 0.5rem;


}

#add-btn {

    padding: 0.75rem 0.5rem;
    border-radius: 12px;
    border: 2px solid rgb(179, 177, 177);
    margin: 0.5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    background-color: white;
    font-size: 1.125rem;
    font-weight: bold;

}

#add-btn:hover {
    transition: transform 0.1s linear;
    box-shadow: 0px 0px 6px rgb(70, 69, 69);
    transition: box-shadow 0.025s ease-in-out;
    text-decoration: underline;
    text-underline-offset: 0.375rem;
}

#task-modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}



#close-button {
    font-size: 1.3rem;
    border: none;
    background-color: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}




.task {
    padding: 0.75rem 0.5rem;
    border-radius: 12px;
    border: 1px solid rgb(179, 177, 177);
    margin: 0.375rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    background-color: white;
    font-size: 1rem;
}


.task>* {
    width: 25%;

}

.task-name {
    color: black;
    margin-left: 1.25rem;
}

.task:hover {
    transition: transform 0.1s linear;
    box-shadow: 0px 0px 2px rgb(70, 69, 69);
    transition: box-shadow 0.025s ease-in-out;
}

.task-desc {
    font-family: 'lato', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgb(54, 54, 54);
}

.task-date,
.task-project {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    color: rgb(54, 54, 54);

}

.project-icon {
    fill: rgb(54, 54, 54);
}

.calendar-icon {
    /* fill: rgb(179, 177, 177); */
    fill: rgb(54, 54, 54);
}


.completed-button {
    margin-left: 1.25rem;
    width: 20px;
    height: 20px;
    padding: 0.2rem;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
}

.completed-button:hover {

    transition: background-color linear 0.1s;

}

.checked {

    background-image: url(./images/check.svg);
    background-size: cover;
    background-color: transparent;
    border: none;
}

.completed {

    position: relative;
    border: 1px solid var(--lime-500);
    transition: border-color 0.1s ease-in-out;

}

.completed h3 {

    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

.edit-button,
.delete-button {
    visibility: hidden;
    margin-left: auto;
    width: fit-content;
    padding: 0.2rem;
    background-color: white;
    transition: transform 0.1s ease-in-out;
}

.task:hover button {
    visibility: visible;
}

.delete-button {

    margin-right: auto;
    border-radius: none;

}

.edit-button:hover {

    transform: scale(1.3);

}

.delete-icon {

    fill: red;
}

.delete-icon:hover {

    transform: scale(1.3);
    transition: transform 0.1s ease-in-out;
}

/* MODALS */

#task-modal {

    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(240, 240, 240);
    animation: slide-in 0.25s ease-in-out;
}

#task-modal.slide-out {
    animation: slide-out 0.25s ease-in-out;
}

dialog {

    border-radius: 4px;
    /* border: 1px solid rgb(179, 177, 177); */
    border: none;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-left: 7px solid var(--lime-600);

}

dialog form {

    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    width: 60%;
    gap: 15px;
}

#top-bar {

    padding: 1rem;
    font-size: 1rem;
    /* background-color: var(--lime-800); */
    width: 100%;
    position: relative;
    /* color: white; */

}

#top-bar h2 {
    /* padding-left: 0.5rem; */
    display: inline;
    border-bottom: 2px solid var(--lime-600);
    padding-right: 2.25rem;
    padding-bottom: 0.5rem;
}

#close-button {

    position: absolute;
    right: 3px;
    top: 3px;
    height: 25px;
    width: 25px;
    font-size: 1.5rem;
    border-radius: 4px;
    background-color: transparent;
    color: var(--lime-600);
}

.form-input {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4px
}


label {

    font-size: 1.125rem;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.form-input input {

    border: 1px solid rgb(179, 177, 177);
    border-radius: 4px;
    font-size: 0.75rem;
    padding: 0.25rem;

}

.form-input input:focus {
    box-shadow: 0px 0px 2px rgb(70, 69, 69);
    transform: scale(1.1);
}




#date-input {

    border: 1px solid rgb(179, 177, 177);

}

#project-input {

    width: 100%;
}

#date-input {
    width: 100%;
}

#submit-btn {

    display: block;
    margin: 0 auto;
    border-radius: 12px;
    background-color: var(--lime-700);
    color: white;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 8px;
    font-weight: 900;
    transition: transform 0.1s linear;
}

#submit-btn:hover {

    transform: scale(1.05);

}




@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-80%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(80%);
    }
}


@font-face {
    font-family: 'rubik';
    src: url(fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'lato';
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'lato thin';
    src: url(fonts/Lato-Thin.ttf);
}